.Card{
  width: auto;
  height: auto;
  max-width: 30vw;
  margin: .5rem;
}

.Card .content{
  border: 1px solid lightgrey;
  background-color: white;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  margin: .75rem;
  justify-items: center;
  width: 90%;
  box-shadow: 0px 8px 5px -4px lightgrey;
}